@model WebUi.Models.InputForms.ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
}

<div class="w3-card-4 mr-2">
    <div class="w3-container w3-dark-gray">
        <div class="row">
            <div class="col-12 text-center"><h1>Change Existing Password</h1></div>
        </div>
    </div>
    <form class="w3-container mt-2" method="post">
        <p>
            <label class="w3-text-brown"><b>Current Password</b></label>
            @Html.PasswordFor(model => model.CurrentPassword, new { @class = "w3-input w3-border w3-sand", @autocomplete="off" })
            @Html.ValidationMessageFor(model => model.CurrentPassword, null, new { @class = "text-danger" })
        </p>
        <p>
            <label class="w3-text-brown"><b>New Password</b></label>
            @Html.PasswordFor(model => model.NewPassword, new { @class = "w3-input w3-border w3-sand", @autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.NewPassword, null, new { @class = "text-danger" })
        </p>
        <p>
            <label class="w3-text-brown"><b>Confirm Password</b></label>
            @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "w3-input w3-border w3-sand", @autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "text-danger" })
        </p>
        <p class="text-right">
            <button type="submit" class="w3-btn w3-green"><i class="fa fa-save"></i> Submit</button>
        </p>
    </form>
</div>