@model WebUi.Models.InputForms.AddSubTypeInputModel

@{
    ViewBag.Title = "AddSubType";
}

<div class="w3-card-4 mr-2">
    <div class="w3-container w3-dark-gray">
        <div class="row">
            <div class="col-9"><h1>Add New Sub Type</h1></div>
            <div class="col-3 text-right">
                <a href="~/Configuration/GetSubTypes" class="w3-button w3-teal" id="btnBack">Back to List <i class="fa fa-forward"></i></a>
            </div>
        </div>
    </div>
    <form class="w3-container mt-2" method="post">
        <p>
            <label class="w3-text-brown"><b>Item Type</b></label>
            @Html.DropDownList("ItemTypeId", (IEnumerable<SelectListItem>)ViewBag.ItemTypeList, new { @class = "w3-input w3-border w3-sand" })
            @Html.ValidationMessageFor(model => model.ItemTypeId, null, new { @class = "text-danger" })
        </p>
        <p>
            <label class="w3-text-brown"><b>Sub Type Name</b></label>
            @Html.TextBoxFor(model => model.Name, new {@class = "w3-input w3-border w3-sand" })
            @Html.ValidationMessageFor(model=>model.Name, null, new { @class="text-danger"} )
        </p>
        <p>
            <label class="w3-text-brown"><b>Description</b></label>
            @Html.TextBoxFor(model => model.Description, new { @class = "w3-input w3-border w3-sand" })
            @Html.ValidationMessageFor(model => model.Description, null, new { @class = "text-danger" })
        </p>
        <p class="text-right">
            <button type="submit" class="w3-btn w3-green"><i class="fa fa-save"></i> Save</button></p>
    </form>
</div>





