@model IEnumerable<BusinessObject.DataEntry>

@{
    var incomeAmount = @Model.Where(x => x.ItemTypeId == 2).Sum(x => x.Amount);
    var expenseAmount = @Model.Where(x => x.ItemTypeId == 1).Sum(x => x.Amount);
}

<table class="table table-striped table-bordered">
    <thead>
        <tr class="bg-dark text-white text-center">
            <th>Incomes</th>
            <th>Expenses</th>
        </tr>
    </thead>
    <tbody class="font-weight-bold text-right">
        @foreach (var item in Model)
        {
            if (item.ItemTypeId == 2)
            {
                <tr>
                    <td>
                        @item.ItemSubType.Name: @item.Amount (@item.DataDate.ToString("D"))
                        @if (string.Format("{0:yyyyMM}", item.DataDate) == string.Format("{0:yyyyMM}", DateTime.Now))
                        {
                            <a href="~/Expenditure/DeleteEntry?id=@item.Id" title="Remove this entry"><i class="fas fa-trash-alt text-danger font-weight-bold"></i></a>
                        }
                    </td>
                    <td></td>
                </tr>
            }
            else
            {
                <tr>
                    <td></td>
                    <td>
                        @item.ItemSubType.Name: @item.Amount (@item.DataDate.ToString("D"))
                        @if (string.Format("{0:yyyyMM}", item.DataDate) == string.Format("{0:yyyyMM}", DateTime.Now))
                        {
                            <a href="~/Expenditure/DeleteEntry?id=@item.Id" title="Remove this entry"><i class="fas fa-trash-alt text-danger font-weight-bold"></i></a>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
    <tfoot class="font-weight-bold text-right">
        <tr>
            <td>Total Income: @incomeAmount</td>
            <td>Total Expense: @expenseAmount</td>
        </tr>
        <tr>
            <td colspan="2">Surplus Amount: @(incomeAmount - expenseAmount)</td>
        </tr>
    </tfoot>
</table>
